.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
}

.main-page-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
}

.map-wrapper {
    position: relative;
    min-height: 400px; 
    width: 60%; 
}

.validation-texts-wrapper p {
    color: var(--warning-color);
    font-size: .75rem;
    text-align: right;
    margin-top: -1rem;
    margin-bottom: .25rem;
}

.success-validation-text {
    color: var(--success-color) !important;
}

form {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 2rem;
    gap: 1.5rem;
    height: 22rem;
    width: 35%;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form-field input, .form-field select {
    padding: .75rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    font-size: .75rem;
    box-sizing: border-box;
    color: var(--text-color);
    width: 50%;
}


.form-field label {
    color: var(--text-color);
    font-size: .875rem;
}

.form-field label.file-input {
    position: relative;
}

.submit-button {
    background-color: var(--primary-color);
    width: 100%;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
}

.photo-flex-wrapper {
    display: flex; 
    align-items: center;
    gap: .5rem;
    color: var(--text-color); 
    width: 50%;
}

.white-text {
    font-size: .875rem;
    color: var(--text-color);
}



